
$color: (
    primary: #f38063,
    secondary:#f7c231,
    hover:#e05f2c,
    bg-body:#d8e4f0,
    white:#ffffff,
    text:#5a5a5a
);

$types: (
    operator:rgb(177, 199, 214),
    blue:rgb(140, 196, 233),
    red:rgb(230, 105, 105),
    yellow:rgb(240, 206, 56),
    green:rgb(47, 179, 172),
    dark:rgb(87, 102, 109),
) ;
